* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%
}

html {
	font-size: 62.5%;
	background-color: var(--theme-background);
}

body {
	font-family: sans-serif;
	font-size: 2rem;

	display: flex;
	flex-direction: column;
	color: var(--theme-text);

	& > * {
		flex: 0;
	}

	& > main {
		flex-grow: 1;
	}
}

ul, menu {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

a {
	font-family: inherit;
	text-decoration: inherit;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}