---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!doctype html>
<BaseLayout>
	<Header />
	<main>
		<h1>Welcome</h1>
		<p>
			This site is supposed to serve as a vault to many of my projects.
		</p>
	</main>
	<Footer />
</BaseLayout>
