@import "fonts";
@import "reset";

@import "../public/themes/dark/theme";

html {
	color: var(--text-color);
	background: var(--background-color);
}

body {
	font-family: var(--font), sans-serif;
}

a {
	color: var(--link-color);
}