
:root {

	/* Palette */
	--background-color: #121223;
	--primary-color: #0088dd;

	/* typography */
	--font: "Poppins", "Arial", "Helvetica", sans-serif;
	--text-color: #00eeee;
	--link-color: #0088dd;

	/* States */
	--success-color: #009900;
	--error-color: #cc0000;
}

